@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Teko&display=swap");

$selective-yellow: #fcba04;
$rufous: #a50104;
$rosewood: #590004;
$dark-sienna: #250001;
$cultured: #f3f3f3;

body {
  background-color: $cultured;
  color: $dark-sienna;
  font: 16px Roboto;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: Teko;
  margin: 16px 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  margin: 1em 0 0.5em 0;
}

p,
ol,
ul {
  line-height: 28px;
}

a {
  color: $rufous;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.anchor-link {
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  transform: translateX(calc(-100% - 5px));
  transition: opacity 250ms;

  :hover > & {
    opacity: 1;
  }
}

.die-prefix {
  display: none;
}

@mixin die {
  background-color: $rufous;
  color: $cultured;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  width: 28px;
}

.d4 {
  @include die;
  clip-path: polygon(0% 10%, 100% 10%, 50% 90%);
  height: 28px;
  line-height: 24px;
  vertical-align: middle;
}

.d6 {
  @include die;
  line-height: 22px;
  width: 22px;
}

.d8 {
  @include die;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.d10 {
  @include die;
  clip-path: polygon(50% 0%, 95% 35%, 95% 65%, 50% 100%, 5% 65%, 5% 35%);
}

.d12 {
  @include die;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 65%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 65%,
    0% 35%,
    20% 10%
  );
}

.trait {
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 1px;
}

.trait-set {
  // width: 350px;
  // border: 1px solid mix($dark-sienna, $cultured, 30%);
  padding: 10px 16px 8px 16px;
  margin-bottom: 1em;
  line-height: 28px;
  border-radius: 10px;
  background-color: darken($cultured, 7%);
}

.trait-set-desc:not(:first-child) {
  // padding: .5em 0;
  border-top: 1px solid rgba($dark-sienna, 30%);
  padding-top: 0.5em;
  margin-top: 0.5em;
}

.trait-set-limit {
  font-style: italic;
}

.trait-set-entry {
  display: inline-block;
  margin-right: 24px;
}

.character {
  margin: 32px 0;
}

.top-bar {
  font-family: Teko;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 1px solid rgba($dark-sienna, 30%);
  padding: 0 24px;
  background-color: darken($cultured, 7%);

  top: 0;
  position: sticky;
  z-index: 1;

  @media screen and (max-width: 900px) {
    font-size: 28px;
    padding: 0 8px;
  }
}

.top-bar-right {
  float: right;
}

.top-bar-entry {
  display: inline-block;
  margin: 8px 24px;

  @media screen and (max-width: 900px) {
    margin: 8px 8px;
  }
}

.table-of-contents {
  position: fixed;
  top: 150px;
  background-color: darken($cultured, 7%);
  border: 1px solid rgba($dark-sienna, 30%);
  border-left: none;
  box-sizing: border-box;
  z-index: 2;
  line-height: 28px;
  right: calc(100% - 300px);
  width: 300px;
  overflow-x: hidden;
  transition: right 0.5s;
  padding: 8px 8px 24px 32px;

  a {
    color: $dark-sienna;
  }

  @media screen and (max-width: 900px) {
    top: 80px;
    right: auto;
    left: calc(100% - 300px);
    transition: left 0.5s;
    border: 1px solid rgba($dark-sienna, 30%);
    border-right: none;
  }
}

.table-of-contents-closed {
  right: 100%;

  @media screen and (max-width: 900px) {
    right: auto;
    left: 100%;
  }
}

.open-toc-button {
  position: fixed;
  top: 150px;
  z-index: 1;
  line-height: 28px;

  button {
    cursor: pointer;
    width: 64px;
    height: 64px;
    background-color: $rufous;
    color: $cultured;
    border: 1px solid rgba($dark-sienna, 30%);
    border-left: none;
    border-radius: 0 20px 20px 0;
  }

  @media screen and (max-width: 900px) {
    top: 80px;
    right: 0;

    button {
      border-radius: 20px 0 0 20px;
    }
  }
}

.table-of-contents-header {
  font: 24px Teko;
  font-weight: 700;
  border-bottom: 1px solid rgba($dark-sienna, 15%);
  margin-bottom: 8px;

  button {
    cursor: pointer;
    float: right;
    width: 48px;
    height: 48px;
    padding: 8px;
    margin: -8px;
    background-color: transparent;
    color: $dark-sienna;
    border: none;
  }
}

.toc1 {
  font-weight: 700;
}

.toc2 {
  font-weight: 700;
}

.toc3 {
  padding-left: 16px;
}

.toc4 {
  padding-left: 32px;
  font-style: italic;
}

.main-content {
  margin: auto;
  max-width: 840px;
  margin-top: 32px;
  margin-bottom: 64px;
  transition: padding-left 0.5s;
  padding-left: 20px;
  padding-right: 20px;
}

.main-content-toc-open {
  padding-left: 300px;

  @media screen and (max-width: 900px) {
    padding-left: 20px;
  }
}
